@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);



.message-blue {
  position: relative;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #a8ddfd;
  width: 200px;
  word-wrap: break-word;
  text-align: left;
  font: 400 0.9em 'Open Sans', sans-serif;
  border: 1px solid #97c6e3;
  border-radius: 10px;
  position: relative;

}

.message-orange {
  position: relative;
  margin-bottom: 20px;
  margin-left: calc(100% - 240px);
  padding: 10px;
  background-color: #f8e896;
  width: 200px;

  text-align: left;
  word-wrap: break-word;
  font: 400 0.9em 'Open Sans', sans-serif;
  border: 1px solid #dfd087;
  border-radius: 10px;
  position: relative;
}
.mesage-orange-img{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid cyan;
  object-fit: contain;
  position: absolute;
  top:-20px;
  right: -35px;
}

.mesage-blue-img{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid cyan;
  object-fit: contain;
  position: absolute;
  top:-20px;
  left: -35px;
}

.message-content {
  padding: 0;
  margin: 0;
}

.message-timestamp-right {
  position: absolute;
  font-size: 0.85em;
  font-weight: 300;
  bottom: -15px;
  right: 0px;
}

.message-timestamp-left {
  position: absolute;
  font-size: 0.85em;
  font-weight: 300;
  bottom: -15px;
  left: 0px;
}
